Hi <%= @mentee.name %>,

Unfortunately, <%= @mentor.name %> is no longer available to meet at <%= display_availability(@availability) %>.

Please check <a href="http://mentoring.devbootcamp.com">mentoring.devbootcamp.com</a> to find another mentoring opportunity.

Enjoy!
Dev Bootcamp