<div class="panel">
  <h2>Leave Feedback for <%= @feedback_receiver.name %></h2>

  <form action="<%= appointment_feedback_path(@feedback_giver.activation_code, :appointment_id => @appointment.id) %>" method="POST">
    <label for="feedback_text">Feedback</label>
    <textarea id="feedback_text" name="feedback[text]"></textarea>
    <input type="submit" value="Submit Feedback" />
  </form>
</div>