<% content_for :header do %>
	<img class="main-header-heart" src="http://localhost:3000/assets/heart.png">
  <nav class="main-navigation">
    <%= link_to "Find a mentor", availabilities_path, :class => "link", :title => "s4m" %>
    <%= link_to "Offer to mentor", new_availability_path, :class => "link", :title => "m4s" %>
  </nav>
<% end %>

<% content_for :content do %>
<%= yield %>
<% end %>

<%= render template: "layouts/empty" %>
